*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --purple-100: hsl(254, 88%, 90%);
    --Purple-500: hsl(256, 67%, 59%);

    --Yellow-100: hsl(31, 66%, 93%);
    --Yellow-500: hsl(39, 100%, 71%);

    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 7%);
}

body{
    background-color:#f2f2f2;
    min-height: 100vh;
    font-family: 'DM sans';
    font-size: 18px;
    line-height: 1;
    display: grid;
    place-content: center;
    padding-inline: 7.5rem;
    
}

.xlg{
    font-size: 4rem;
    font-weight: 500;
}

.lg{
    font-size: 2.75rem;
    font-weight: 500;
}

.med{
    font-size: 2.35rem;
    font-weight: 500;
}

.sm{
    font-size: 1.5rem;
    font-weight: 400;
}

.wrapper{
   
    max-width: 1400px;
    margin: 1rem;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 75px;
    
    gap:2rem;
    grid-template-areas:
    "area1 area2 area2 area3"
    "area1 area2 area2 area3"
    "area1 area2 area2 area3"
    "area1 area2 area2 area3"
    "area1 area5 area6 area3"
    "area4 area5 area6 area3"
    "area4 area5 area6 area3"
    "area4 area7 area8 area8"
    "area4 area7 area8 area8"
    "area4 area7 area8 area8";  
    
}

.wrapper>*{
    overflow: hidden;
    border-radius: 10px;
    
}

.box-1{
    padding: 6rem 2rem 0 1.5rem;
    grid-area: area1;
    background-color: var(--Yellow-100);
    
    img{
        height: 20%;
    }
    em{
        color:var(--Purple-500);
    }
    
    
}

.box-2{
    background-color: var(--Purple-500);
    padding:6rem;
    grid-area: area2;
    font-size: 50px;
    text-align: center;
    span{
        color:var(--Yellow-500);
    }
    img{
        height:15%;
    }
}

.box-3{
    grid-area: area5;
}

.box-4{
    grid-area: area6;
    background-color: var(--Yellow-500);
}

.box-5{
    grid-area: area3;
}

.box-6{
    grid-area: area8;
    display: flex;
    flex-direction: row ;
}

.box-7{
    grid-area: area4;
}

.box-8{
    grid-area: area7;
}




